* {
    margin: 0;
    padding: 0;
}

body {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    line-height: 1.7;
    background-color:#18bc9c;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
}

/*****************maquetando la cabezera****************/

header{
    font-family: 'Montserrat', sans-serif;
    position: fixed;
    background-color: #2c3e50;
    width: 100%;
    color: white;
    height: 100px;
    z-index: 20;
    margin: -180px auto 0;
}

header div {
    position: relative;
    left: 15%;
    top: 30%;
    width: 70%;
}

.logo-letter {
    float: left;
    font-size: 30px;  
    font-weight: 700;
    color: white;
    text-decoration: none;
}

.header-menu li {
    float: right;
    list-style: none;
    font-weight: 700;
    padding: 10px;
    font-size: 15px; 
}

.header-menu li a{
    color: white;
    text-decoration: none;
}

.header-menu li a:hover{
    color: #18bc9c;
    transition-duration: 0.5s;
}

/***************** Primera Sección *****************/
/*
.first {
    position: relative;
    top: 170px;
}
*/
.block-inicio {
    margin: 180px auto 0;
    width: 55%;
}

.block-inicio h1 {
    font-size: 70px;
    text-align: center;
    color: white;
}

.block-inicio figure {
    position: relative;
    left: 35%;
}

.block-inicio h1::after {
    content: '';
    width: 210px;
    height: 5px;
    background-color: #ffffff;
    display: block;
    margin: 10px auto 0px;
    

}

.block-inicio h3 {
    font-size: 28px;
    text-align: center;
    color: white;
}
/*Realización de la estrella del bloque-inicio*/
.block-inicio i {
    position: relative;
    color: white;
    left: 48%;
    top: -20px;
    background-color: #18bc9c;
    padding: 5px;
}

/***************** Segunda Sección *****************/

.second {
    position: relative;   
    background-color: white;   
}

.block-portfolio {
    width: 70%;
    margin: 80px auto;
}

.second figure {
    display: inline-block;
    padding-bottom: 80px;
}

.content-figures img {
    width: 30%;
    padding: 15px;
}

.content-figures a {
    text-decoration: none;
}

.content-figures a:hover {
    opacity: 0.07;
    transition-duration: 0.5s;
    transition: opacity 500ms;
}

.block-portfolio h2 {
    padding-top:80px;
    font-size: 40px;
    text-align: center;
    color: #212529;   
}

/*Realización de la estrella*/
.block-portfolio i {
    position: relative;
    color: #2c3e50;
    left: 48%;
    top: -20px;
    background-color: #ffffff;
    padding: 5px;
}
/*Realización de la linea usando ::after*/
.block-portfolio h2::after {
    content: '';
    width: 210px;
    height: 5px;
    background-color: #2c3e50;
    display: block;
    margin: 10px auto 0px;
}

/*********************tercer bloque****************************/

/*.third{
    position: relative;
    top: 250px;
    background-color: white;
}*/

.block-about {
    width: 70%;
    margin:0 auto ;
}

.block-about h2 {
    font-size: 40px;
    text-align: center;  
    color: white;
     
}

.block-about h2::after {
    content: '';
    width: 210px;
    height: 5px;
    background-color: #ffffff;
    display: block;
    margin: 10px auto 0px;
    
}
/*Realización de la estrella del bloque-inicio*/
.block-about .fa-star {
    position: relative;
    color: white;
    left: 48%;
    top: -20px;
    background-color: #18bc9c;
    padding: 5px;
}

.block-about .two-columns p {
    color: white;
    font-size: 19px;
}
/*modificando el texto en dos columnas*/
.block-about .two-columns {
    column-count: 2;
    margin: 0px 210px  30px;
    padding-right: 15px;
}
/*aplicando estilos al boton download junto a su icono*/
.block-about a{
    border: solid 2px #fff;
    padding: 10px;
    font-size: 19px;
    border-radius: 5px;
    text-decoration: none;
    color: white; 
    margin: 41%; 
}
/*efecto con hover al boton download*/
.block-about a:hover, .fa-download:hover{
    background-color: white;
    color: #18bc9c; 
    transition-duration: 0.5s;   
}

/******************************************************************/

.four {
    position: relative;
    height: 800px;
    background-color: white;
}

.block-contact {
    width: 70%;
    margin: 80px  auto 0;
}

.block-contact h2 {  
    padding-top: 80px;
    font-size: 40px;
    text-align: center;
    color: #212529;   
}

/*Realización de la estrella*/
.block-contact i {
    position: relative;
    color: #2c3e50;
    left: 48%;
    top: -20px;
    background-color: white;
    padding: 5px;
}
/*Realización de la linea usando ::after*/
.block-contact h2::after {
    content: '';
    width: 210px;
    height: 5px;
    background-color: #2c3e50;
    display: block;
    margin: 10px auto 0px;
}

.block-contact .box-input {
    width: 60%;
    margin: 0 auto;
    padding: 20px 0;
    border-bottom: 1px solid rgb(215, 215, 216);
    font-family: 'Lato', sans-serif;
}

.block-contact input {
    width: 100%;
    padding: 5px 0;
    border: none;
    text-decoration: none;
    outline: none;
    font-size: 22px;   
}

.message {
    height: 180px;
    box-sizing: border-box;
    resize: none;
    padding-bottom: 100px;
}
/*estilos al boton send*/
.btn-send {
    background-color: #18bc9c;
    padding: 15px;
    font-size: 19px;
    border-radius: 5px;
    text-decoration: none;
    color: white; 
    margin: 20%;
}
/*efectos al btn send*/
.btn-send:hover {
    background-color: #0a6956;
    transition-duration: 0.5s;
}
.box-formulario {
    padding-bottom: 30px;   
}

/*************************************************************/

.footer {
    background-color:  #2c3e50;
    color: white;
    padding-top: 50px;
    padding-bottom: 25px;
}

.block-footer {
    width: 70%;
    margin: 0px auto 80px; ;
}

.block-footer h3 {
    font-size: 25px;
    text-align: center;   
}
/*el bloque footer estarà mostrado en tres columnas*/
.block-footer .tree-columns{
    column-count: 3;
    font-size: 19px;
    margin: 0 auto;
    padding-right: 20px;
}

.tree-columns h3 {
    padding-bottom: 25px;
}

.tree-columns li {
    text-align: center;
    list-style: none;
}

.tree-columns .link-bootstrap{
    text-decoration: none;
    color: #18bc9c;     
}

.link-bootstrap:hover {
    text-decoration: underline;
}

.autor {
    text-align: center;
    font-size: 15px;
}

.box-red-social {
    margin: 20px auto;
}

/*dando estilos a btn redes sociales*/
.box-red-social .btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 20px;
    line-height: 45px;
    border: 2px solid white;
    border-radius: 100%;
    box-sizing: border-box;
    transition-duration: .5s;
    color: white;
}



/*centrando los btn de redes sociales*/
.box-red-social .btn i {
    vertical-align: middle;
}

.box-red-social .btn:hover {
    background-color: white;
    color: #18bc9c; 
    transition-duration: 0.7s; 
}